@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');

:root {
    --default-border-radius: 5px;
}

html {
    background: #222;
    color: white;
}

* {
    font-family: 'Roboto', sans-serif;
}

header h1 {
    margin-top: 20%;
    font-size: 5em;
    text-align: center;
    text-transform: uppercase;
    color: white;
    background-color: black;
}

h2 {
    font-size: 1.5em;
}

header ul {
    margin: 1%;
    display: flex;
    justify-content: center;
}

header li {
    margin: 1%;
    text-transform: uppercase;
}

li a {
    color: white;
    text-shadow: 0 0 25px #000, 0 0 25px #000, 0 0 25px #000, 0 0 25px #000, 0 0 25px #000, 0 0 25px #000, 0 0 25px #000, 0 0 25px #000, 0 0 25px #000, 0 0 25px #000, 0 0 25px #000,
        0 0 10px #000, 0 0 10px #000, 0 0 10px #000, 0 0 10px #000, 0 0 10px #000, 0 0 10px #000, 0 0 10px #000, 0 0 10px #000, 0 0 10px #000, 0 0 10px #000, 0 0 10px #000, 0 0 10px #000;
    text-decoration: none;
}

main {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.hero {
    height: 100vh;
    width: 100%;
    background-color: white;
    background-image: url("../assets/images/mark.svg");
    background-size: auto;
    background-repeat: no-repeat;
    background-position: center;
}

.hero-text {
    position: relative;
    top: 50%;
    left: 50%;
    font-size: 300%;
    color: black;
}

card {
    height: 100vh;
    margin: 2%;
    border: 1px solid white;
    border-radius: var(--default-border-radius);
    width: 500px;
    padding: 2%;
}

card a::before {
    content: "🔗";
}

card h2 {
    width: 100%;
    text-align: center;

    border-radius: var(--default-border-radius);
    border: 1px solid black;
    padding: 2%;
    background-color: rgba(10, 10, 10, .5);
}

card p {
    background-color: rgba(10, 10, 10, .5);
    padding: 2%;
    border-radius: var(--default-border-radius);
}

card ul {
    text-indent: 4%;
    margin: 2%;
    padding: 2%;
}

card ul li {
    text-indent: 4%;
    margin: 2%;
    padding: 2%;
}

card ul li ul {
    text-indent: 8%;
}

card ul li::before {
    content: "+ ";
}

card ul li ul li::before {
    content: "+ ";
}

card:hover {
    box-shadow: 0 0 15px #fff;

    /*From: https://developer.mozilla.org/en-US/docs/Web/CSS/gradient/linear-gradient*/
    background: linear-gradient(217deg, rgba(25, 25, 25, .8), rgba(25, 25, 25, 0) 70.71%), linear-gradient(127deg, rgba(75, 75, 75, .8), rgba(75, 75, 75, 0) 70.71%), linear-gradient(336deg, rgba(100, 100, 100, .8), rgba(100, 100, 100, 0) 70.71%);
    transition: all 0.25s ease-in-out;
}

#photography {
    background-image: url('../assets/images/photography.gif');
    background-size: cover;
    background-repeat: no-repeat;
}

#art {
    background-image: url('../assets/images/art.gif');
    background-size: cover;
    background-repeat: no-repeat;
}

footer {
    text-align: center;
}

@media screen and (max-width: 992px) {
    card {
        width: 40%;
    }
}

@media screen and (max-width: 768px) {
    card {
        width: 90%;
    }
}