@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;900&display=swap');

/* Setting up some variables so I don't need to keep changing rainbow widths, or colors. More adaptable for later. */
:root {
    --default-border-radius: 10px;
    /* Adapted rainbow halo from: https://stackoverflow.com/questions/69527946/how-can-i-make-filter-drop-shadow-a-rainbow-gradient */
    --rainbow-border: drop-shadow(0 0px 1px #FF0000) drop-shadow(0 0px 1px #FF7F00) drop-shadow(0 0px 1px #FFFF00) drop-shadow(0 0px 1px #00FF00) drop-shadow(0 0px 1px #0000FF) drop-shadow(0 0px 1px #2E2B5F) drop-shadow(0 0 1px #8B00FF);
    --black-shadow: 0 0 .5em #000, 0 0 .5em #000, 0 0 .5em #000, 0 0 .5em #000, 0 0 .5em #000, 0 0 .5em #000, 0 0 .5em #000, 0 0 .5em #000, 0 0 .5em #000, 0 0 .5em #000, 0 0 .5em #000,
        0 0 2em #000, 0 0 10px #000, 0 0 10px #000, 0 0 10px #000, 0 0 10px #000, 0 0 10px #000, 0 0 10px #000, 0 0 10px #000, 0 0 10px #000, 0 0 10px #000, 0 0 10px #000, 0 0 10px #000;
    --black-shadow-big: 0 0 2px #000, 0 0 2px #000, 0 0 2px #000, 0 0 2px #000, 0 0 2px #000, 0 0 2px #000, 0 0 2px #000, 0 0 2px #000, 0 0 2px #000, 0 0 2px #000, 0 0 2px #000,
        0 0 10px #000, 0 0 10px #000, 0 0 10px #000, 0 0 10px #000, 0 0 10px #000, 0 0 10px #000, 0 0 10px #000, 0 0 10px #000, 0 0 10px #000, 0 0 10px #000, 0 0 10px #000, 0 0 10px #000;
    --rainbow-border-big-line-width: .025em;
    --rainbow-border-big: drop-shadow(0 0px var(--rainbow-border-big-line-width) #FF0000) drop-shadow(0 0px var(--rainbow-border-big-line-width) #FF7F00) drop-shadow(0 0px var(--rainbow-border-big-line-width) #FFFF00) drop-shadow(0 0px var(--rainbow-border-big-line-width) #00FF00) drop-shadow(0 0px var(--rainbow-border-big-line-width) #0000FF) drop-shadow(0 0px var(--rainbow-border-big-line-width) #2E2B5F) drop-shadow(0 0 var(--rainbow-border-big-line-width) #8B00FF);
}

html {
    background: #111;
    color: white;
    scroll-behavior: smooth;
}

* {
    font-family: sans-serif;
}

/* Fade in from: https://blog.hubspot.com/website/css-fade-in?hubs_content=blog.hubspot.com%2Fwebsite%2Fcss-fade-in&hubs_content-cta=Fade-in%20Text%20Transition */
@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }

    from {
        transform: translateX(-100%);
    }

    to {}
}

/* Adding some colorful borders with a large font. */

h1 {
    margin-top: 20%;
    font-size: 4em;
    text-align: center;
    text-transform: uppercase;
    color: white;
    text-shadow: var(--black-shadow-big);
    text-decoration: none;
    filter: var(--rainbow-border-big);
    animation: fadeIn 1s;
    z-index: 1;
}


h2 {
    font-size: 1.5em;
    text-transform: uppercase;

}

/* No text decoration looks cleaner in my opinion. */
a {
    text-decoration: none;
}

header ul {
    margin: 2%;
    display: flex;
    justify-content: center;
}

header li {
    margin: 5%;
    text-transform: uppercase;
}

.hero header ul li a {
    font-weight: 900;
    color: white;
    text-shadow: var(--black-shadow-big);
    text-decoration: none;
    filter: var(--rainbow-border-big);
    z-index: -1;
    animation: fadeIn 1s;
}

/* Gives some flexibility with elements when resizing. */
main {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

/* Full screen photo, stylized to an .svg file. */
.hero {
    height: 100vh;
    width: 100%;
    background-color: #f5f5f5;
    background-image: url("../assets/images/mark.svg"), linear-gradient(to right, #f5f5f5, #dbdbdb);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.hero-text {
    font-weight: 900;
    position: relative;
    top: 50%;
    left: 50%;
    font-size: 300%;
    color: black;
}

img {
    max-width: 100%;
}

/* Fade effect when returning to normal styling. */
card {
    justify-content: center;
    text-align: center;
    align-items: center;
    transition: all 2.75s;
    margin: .5em;
    border-radius: var(--default-border-radius);
    width: 35%;
    line-height: 175%;
    padding: .5em;
}

card a::before {
    content: "🔗";
}

card h2 {
    width: 100%;
    text-align: center;
    border-radius: var(--default-border-radius);
    padding: .5em;
}

card p {
    padding: .5em;
    margin: 2.5%;
    text-shadow: var(--black-shadow);
    text-decoration: none;
}

card ul {
    text-align: center;
}

card ul li {
    margin: .5em;
    padding: .5em;
}

card ul li::before {
    content: "+ ";
    z-index: 1;

}

card ul li ul li::before {
    content: "+ ";
}

card img {
    margin: 50px;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    border-radius: var(--default-border-radius);
}

/* Cool effect that looks like you're using a mood ring, or have one of those temperature gauges. */
card:hover {
    margin: 2%;
    transition: all .75s;
    align-items: center;
    justify-content: center;
    text-shadow: var(--black-shadow);
    text-decoration: none;
    filter: var(--rainbow-border);
}

card a {
    filter: drop-shadow(1px 1px #000) drop-shadow(-1px 1px #000) drop-shadow(1px -1px 1px #000) drop-shadow(-1px -1px 1px #000);
    color: white;
    font-weight: 700;
}

footer {
    text-align: center;
    flex-wrap: wrap;
    justify-content: center;
    background-image: linear-gradient(to right, #dbdbdb, #f5f5f5);
    display: flex;
    font-size: 5em;
    text-align: center;
    text-transform: uppercase;
    color: white;
    padding;
    color: black;
}


footer section {
    width: 35%;
    font-size: large;
    padding: 5%;
}

footer h1 {
    font-size: 3em;
    margin: 15%;
    color: white;
    text-shadow: var(--black-shadow-big);
    text-decoration: none;
    filter: var(--rainbow-border-big);
}

footer h2 {
    padding: .5em;
    padding-top: 10%;
}

footer p {
    margin: .5em;
    color: black;
}

footer img {
    width: 128px;
    padding: 0;
    margin: auto;
    text-align: center;

}

footer a {
    color: black;
}

#email {
    width: 32px;
}

.highlight-card {
    width: 70%;
}

.highlight-card img {
    width: 100%;
    max-width: 100%;

}

@media screen and (max-width: 992px) {
    card {
        width: 35%;
    }

    footer section {
        width: 35%;
    }
}

@media screen and (max-width: 768px) {
    card {
        width: 70%;
    }

    footer section {
        width: 70%;
    }
}